.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
    height: 91vh;
}

.content-box {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: preloadAnimation 1.5s;
}


.content-left {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img {
    width: 250px;
    height: 250px;
}

.discord {
    width: 100%;
    height: 500px;
}

@keyframes preloadAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .content-box {
        justify-content: center;
        width: 90%;
        margin-top: 30px;
        position: absolute;
        top: 40px;
        z-index: -1;
    }
    .content-right {
        width: 100%;
        padding: 0;
    }
    .container-box {
        padding: 0 0;
    }
    .content-img {
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }
    .content-left {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .discord {
        margin-bottom: 20px;
    }
}