body {
    font-family: 'Raleway', sans-serif;
    /*padding: 90px 0;*/
    background-color: rgb(10, 10, 10);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23151515' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%231b1b1b' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23202020' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23262626' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%232b2b2b' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23313131' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23363636' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
}

body::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    
}

body::-webkit-scrollbar-thumb {
    background: rgb(32, 32, 32);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}