.container-404{
    height: 91vh;
    width: 100%;
    flex-wrap: wrap;
    
}

.container-404 img{
    width: 91vh;
}

.container-404 h1{
    color: rgb(177, 177, 177);
}

@media (max-width: 768px){
    .container-404{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        
    }

    .container-404 img{
        width: 55vh;
    }
}